/*

mat-card {
  max-width: 300px;
  margin: 0 auto;
  display: flex;
}

button {
  width: 175px;
}

button:hover {
  font-weight: normal;
  font-size: large;
  background-color: lightblue;
}

button:active{
  background-color: yellowgreen;
  color: white;
}
input:hover {
  padding: 7px;
  background-color: lightblue;
}

input {
  border: hidden;
}

label button{
  font-weight: lighter;
}

label:hover {
  font-weight: normal;
  font-style: italic;
}
*/
