<br>
<mat-card>
    <mat-grid-list cols="1" rowHeight="150px">
        <mat-grid-tile>
            <mat-card-content>
                <mat-card-title>C.V</mat-card-title>
                <p>Cette application construite sous Angular permet à l'utilisateur de créer un CV en ligne.<br>
                    Les données ajoutées sont envoyées vers une base de données Mongo (version Cloud : MongoAtlas)
                    via un serveur NodeJs
                </p>
            </mat-card-content>
        </mat-grid-tile>
    </mat-grid-list>
</mat-card><br>
<mat-tab-group headerPosition="below" mat-align-tabs="center">
    <mat-tab label="Identité">
        <div class="example-small-box mat-elevation-z4">
            <app-identity></app-identity>
        </div><br>
    </mat-tab>
    <mat-tab label="Bio">
        <div class="example-small-box mat-elevation-z4">
            <app-add-mini-bio></app-add-mini-bio>
        </div><br>
    </mat-tab>
    <mat-tab label="Compétences">
        <div class="example-small-box mat-elevation-z4">
            <app-skill></app-skill>
        </div><br>
    </mat-tab>
    <mat-tab label="Technologies">
        <div class="example-small-box mat-elevation-z4">
            <app-identity-list></app-identity-list>
        </div><br>
    </mat-tab>
    <mat-tab label="Formation">
        <div class="example-small-box mat-elevation-z4">
            <app-skill></app-skill>
        </div><br>
    </mat-tab>
    <mat-tab label="Expérience">
        <div class="example-small-box mat-elevation-z4">
            <app-skill-list></app-skill-list>
        </div><br>
    </mat-tab>


</mat-tab-group>
