<br>
<mat-card>
    <mat-grid-list cols="1" rowHeight="150px">
        <mat-grid-tile>
            <mat-card-content>
                <mat-card-title>C.V</mat-card-title>
                <p>Cette application construite sous Angular permet à l'utilisateur de créer un CV en ligne.<br>
                    Les données ajoutées sont envoyées vers une base de données Mongo (version Cloud : MongoAtlas)
                    via un serveur NodeJs
                </p>
            </mat-card-content>
        </mat-grid-tile>
    </mat-grid-list>
</mat-card><br>

